@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{

    String mstdata = @ViewBag.Vals0;
    String edudata = @ViewBag.Vals1;
    String empdata = @ViewBag.Vals2;

        if (mstdata != "")
        {
            String[] sptval0 = mstdata.Split("|");
    <form>
    <div class="form-group row border">
    <label  class="col-sm-12 col-form-label"><b>Candidate's Personal Details</b></label>
    </div>
          <div class="form-group row ">
            <label  class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-4">
              @sptval0[1].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Email Address</label>
            <div class="col-sm-4">
              @sptval0[2].Trim()
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Father Name</label>
            <div class="col-sm-4">
              @sptval0[10].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Date of Birth</label>
            <div class="col-sm-4">
              @sptval0[8].Trim()
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Contact Number</label>
            <div class="col-sm-4">
              @sptval0[3].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Marital Status</label>
            <div class="col-sm-4">
              @sptval0[9].Trim()
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Aadhar Number</label>
            <div class="col-sm-4">
              @sptval0[26].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">PAN Number</label>
            <div class="col-sm-4">
              @sptval0[27].Trim()
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Passport Number</label>
            <div class="col-sm-10">
              @sptval0[28].Trim()
            </div>
            
          </div>
    <div class="form-group row border">
    <label  class="col-sm-12 col-form-label"><b>Candidate's Permanent Address Details</b></label>
    </div>
          <div class="form-group row ">
            <label  class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-4">
              @sptval0[11].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">State Name</label>
            <div class="col-sm-4">
              @sptval0[13].Trim()
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">City Name</label>
            <div class="col-sm-4">
              @sptval0[15].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Pincode</label>
            <div class="col-sm-4">
              @sptval0[16].Trim()
            </div>
          </div>
     <div class="form-group row border">
    <label  class="col-sm-12 col-form-label"><b>Candidate's Current Address Details</b></label>
    </div>
          <div class="form-group row ">
            <label  class="col-sm-2 col-form-label">Address</label>
            <div class="col-sm-4">
              @sptval0[17].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">State Name</label>
            <div class="col-sm-4">
              @sptval0[19].Trim()
            </div>
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">City Name</label>
            <div class="col-sm-4">
              @sptval0[21].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Pincode</label>
            <div class="col-sm-4">
              @sptval0[22].Trim()
            </div>
          </div>
    </form>
        }

        if (edudata != "")
        {
            String[] sptval1 = edudata.Split("|");
    <form>
    <div class="form-group row border">
    <label  class="col-sm-12 col-form-label"><b>Candidate's Education Details</b></label>
    </div>
          <div class="form-group row ">
          <label  class="col-sm-6 col-form-label"><b>Class 10th Records</b></label>
            <label  class="col-sm-2 col-form-label">School Name</label>
            <div class="col-sm-4">
              @sptval1[1].Trim()
            </div>
            
          </div>
          <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Board Name</label>
            <div class="col-sm-4">
              @sptval1[2].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Course Name</label>
            <div class="col-sm-4">
              @sptval1[3].Trim()
            </div>
            
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Passing Year</label>
            <div class="col-sm-4">
              @sptval1[4].Trim()
            </div>
            
            <label  class="col-sm-2 col-form-label">Percentage/CGPA Scored</label>
            <div class="col-sm-4">
              @sptval1[5].Trim()
            </div>
          </div>

          <div class="form-group row ">
          <label  class="col-sm-6 col-form-label"><b>Class 12th Records</b></label>
            <label  class="col-sm-2 col-form-label">School Name</label>
            <div class="col-sm-4">
              @sptval1[8].Trim()
            </div>
            
          </div>
          <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Board Name</label>
            <div class="col-sm-4">
              @sptval1[9].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Course Name</label>
            <div class="col-sm-4">
              @sptval1[10].Trim()
            </div>
            
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Passing Year</label>
            <div class="col-sm-4">
              @sptval1[11].Trim()
            </div>
            
            <label  class="col-sm-2 col-form-label">Percentage/CGPA Scored</label>
            <div class="col-sm-4">
              @sptval1[12].Trim()
            </div>
          </div>

          <div class="form-group row ">
          <label  class="col-sm-6 col-form-label"><b>Under Graduation Records</b></label>
            <label  class="col-sm-2 col-form-label">Collage Name</label>
            <div class="col-sm-4">
              @sptval1[15].Trim()
            </div>
            
          </div>
          <div class="form-group row">
          <label  class="col-sm-2 col-form-label">University Name</label>
            <div class="col-sm-4">
              @sptval1[16].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Course Name</label>
            <div class="col-sm-4">
              @sptval1[17].Trim()
            </div>
            
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Passing Year</label>
            <div class="col-sm-4">
              @sptval1[18].Trim()
            </div>
            
            <label  class="col-sm-2 col-form-label">Percentage/CGPA Scored</label>
            <div class="col-sm-4">
              @sptval1[19].Trim()
            </div>
          </div>

          <div class="form-group row ">
          <label  class="col-sm-6 col-form-label"><b>Post Graduation Records</b></label>
            <label  class="col-sm-2 col-form-label">Collage Name</label>
            <div class="col-sm-4">
              @sptval1[22].Trim()
            </div>
            
          </div>
          <div class="form-group row">
          <label  class="col-sm-2 col-form-label">University Name</label>
            <div class="col-sm-4">
              @sptval1[23].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Course Name</label>
            <div class="col-sm-4">
              @sptval1[24].Trim()
            </div>
            
          </div>
          <div class="form-group row">
            <label  class="col-sm-2 col-form-label">Passing Year</label>
            <div class="col-sm-4">
              @sptval1[25].Trim()
            </div>
            
            <label  class="col-sm-2 col-form-label">Percentage/CGPA Scored</label>
            <div class="col-sm-4">
              @sptval1[26].Trim()
            </div>
          </div>

    </form>
        }

        if (empdata != "")
        {
        String[] sptval2 = empdata.Split("|");
    <form>
    <div class="form-group row border">
    <label  class="col-sm-12 col-form-label"><b>Candidate's Employement Details</b></label>
    </div>
          <div class="form-group row ">
          <label  class="col-sm-6 col-form-label"><b>@sptval2[1].Trim()</b></label>
            <label  class="col-sm-2 col-form-label">Experience (in Years)</label>
            <div class="col-sm-4">
              @sptval2[2].Trim()
            </div>
            
          </div>
          <div class="form-group row">
          <label  class="col-sm-2 col-form-label">Experience (in Months)</label>
            <div class="col-sm-4">
              @sptval2[3].Trim()
            </div>
            <label  class="col-sm-2 col-form-label">Number of Company Worked</label>
            <div class="col-sm-4">
              @sptval2[4].Trim()
            </div>
            
          </div>
          

    </form>
        }

    <form>
    <div class="form-group row border">
    <label  class="col-sm-12 col-form-label"><b>No Data for Display please check the candidate Id</b></label>
    </div>
    </form>

}
