@model AWC_HRMS.Models.CandidateMaster


@{
    ViewData["Title"] = "CandidateRegisterationDetail";
    ViewData["btn"] = "Save";
    Layout = "~/Views/Shared/_LayoutCandidateForm.cshtml";
}

@*Respose.write "Bretval0: " + @ViewBag.myst*@


<div class="row">
    <div class="col-md-1 col-sm-12 Font_Color2" >

   

        </div>

    <div class="col-md-8 col-sm-12 table-borderless" style="background-color:#08708d;font-family:Gill Sans, sans-serif; color:black">
        
        <form asp-action="CandidateRegisterationDetailAddress" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger Font_Color"></div>

                  <input asp-for="CandidateId" type="hidden" value="@ViewBag.myst" />
           
            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="PermanentAddress" class="control-label"></label>
                <input asp-for="PermanentAddress" class="form-control" id="PermanentAddress" required />
                <span asp-validation-for="PermanentAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="PermanentStateId" class="control-label"></label>
                @*<input asp-for="PermanentStateId" class="form-control" required />*@
                @Html.DropDownListFor(m => m.PermanentStateId, new SelectList(Model.stateMasters, "StateId", "StateName"),"--Please Select State--", new { @class = "form-control" ,@onchange ="PermanentgetCity()"})
                <span asp-validation-for="PermanentStateId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="PermanentCityId" class="control-label"></label>
                @*<input asp-for="PermanentCityId" class="form-control" required />*@
                  @Html.DropDownListFor(m => m.PermanentCityId, new SelectList(Model.cityMasters, "CityId", "CityName"),"--Please select City--", new { @class = "form-control" })
                <span asp-validation-for="PermanentCityId" class="text-danger"></span>
            </div>

             <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="PermanentPinCode" class="control-label"></label>
                <input asp-for="PermanentPinCode" class="form-control" id="PermanentPinCode" required />
                <span asp-validation-for="PermanentPinCode" class="text-danger"></span>
            </div>


            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="CurrentAddress" class="control-label"></label>
                <input asp-for="CurrentAddress" class="form-control" id="CurrentAddress" required />
                <span asp-validation-for="CurrentAddress" class="text-danger"></span>
            </div>


            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="CurrentStateId" class="control-label"></label>
                @*<input asp-for="CurrentStateId" class="form-control" required />*@
                    @Html.DropDownListFor(m => m.CurrentStateId, new SelectList(Model.stateMasters, "StateId", "StateName"),"--Please Select State--", new { @class = "form-control" ,@onchange ="CurrentgetCity()"})
                <span asp-validation-for="CurrentStateId" class="text-danger"></span>
            </div>
           
           
            <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="CurrentCityId" class="control-label"></label>
               @* <input asp-for="CurrentCityId" class="form-control" required />*@

                @Html.DropDownListFor(m => m.CurrentCityId, new SelectList(Model.cityMasters, "CityId", "CityName"),"--Please Select State--", new { @class = "form-control"  })
                <span asp-validation-for="CurrentCityId" class="text-danger"></span>
            </div>

             <div class="form-group">
                 <div class="space"> </div>
                <label asp-for="CurrentPinCode" class="control-label"></label>
                <input asp-for="CurrentPinCode" class="form-control" id="CurrentPinCode" required />
                <span asp-validation-for="CurrentPinCode" class="text-danger"></span>
            </div>
           
        
            <div class="form-group">
                <div class="space"> </div>
                
                @Html.ActionLink("Back", "CandidateRegisterationDetailNext", new { id=ViewBag.myst },new{@class = "btn btn-info"})
                <input type="submit"  class="btn btn-info" value="Save" formaction="" />
                <!--<input type="button" value="Next" onclick="Response.redirect('CandidateRegisterationDetailNext')" class="btn button_color1" />-->
                @Html.ActionLink("Next", "CandidateRegisterationDetailQualification", new { id=ViewBag.myst },new{@class = "btn btn-info"})
            </div>
             </br>
        </form>
        @if(@ViewData["reason"]==null)
{
    
}
else{
<div class="alert alert-success text-center">@ViewData["reason"]</div>
}
        
    </div>
</div>


<script type="text/javascript">
$(window).on('load', function () {
        //alert('All assets are loaded');
        //debugger;
        var data = "@ViewBag.Vals2";
        if (data != "") {

            var sptval0 = data.split("|");

            document.getElementById("PermanentAddress").value = sptval0[10];
            
            document.getElementById("PermanentPinCode").value = sptval0[13];

            document.getElementById("CurrentAddress").value = sptval0[14];

            document.getElementById("CurrentPinCode").value = sptval0[17];

        }

    });

</script>

<script type="text/javascript">
    $("#PermanentCityId").html("");

      $("#CurrentCityId").html("");


    function PermanentgetCity() {

        var id = $('#PermanentStateId :selected').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action( "GetCity","CandidateRegistration")',

            data: { StateId: id },

            dataType: "json",
            success: function(data, status, xhr) {


                var v = data;

                $("#PermanentCityId").html("");
                $.each(data, function(i, data) {
                    if (i == 0) {
                        $('<option>',
                            {
                                value: 0,
                                text: "--All--"
                            }).html("--All--").appendTo("#PermanentCityId");
                    }
                    else {
                        $('<option>',
                            {
                                value: data.cityId,
                                text: data.cityName
                            }).html(data.cityName).appendTo("#PermanentCityId");
                    }
                });

            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
      

    };

     function CurrentgetCity() {

        var id = $('#CurrentStateId :selected').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action( "GetCity","CandidateRegistration")',

            data: { StateId: id },

            dataType: "json",
            success: function(data, status, xhr) {


                var v = data;

                $("#CurrentCityId").html("");
                $.each(data, function(i, data) {
                    if (i == 0) {
                        $('<option>',
                            {
                                value: 0,
                                text: "--All--"
                            }).html("--All--").appendTo("#CurrentCityId");
                    }
                    else {
                        $('<option>',
                            {
                                value: data.cityId,
                                text: data.cityName
                            }).html(data.cityName).appendTo("#CurrentCityId");

                             
                    }
                });

            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
      

    };

</script>
<script type="text/javascript">
    $("#PermanentCityId").html("");

      $("#CurrentCityId").html("");


    function PermanentgetCity() {

        var id = $('#PermanentStateId :selected').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action( "GetCity","CandidateRegistration")',

            data: { StateId: id },

            dataType: "json",
            success: function(data, status, xhr) {


                var v = data;

                $("#PermanentCityId").html("");
                $.each(data, function(i, data) {
                    if (i == 0) {
                        $('<option>',
                            {
                                value: 0,
                                text: "--All--"
                            }).html("--All--").appendTo("#PermanentCityId");
                    }
                    else {
                        $('<option>',
                            {
                                value: data.cityId,
                                text: data.cityName
                            }).html(data.cityName).appendTo("#PermanentCityId");
                    }
                });

            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
      

    };

     function CurrentgetCity() {

        var id = $('#CurrentStateId :selected').val();

        $.ajax({
            type: 'POST',
            url: '@Url.Action( "GetCity","CandidateRegistration")',

            data: { StateId: id },

            dataType: "json",
            success: function(data, status, xhr) {


                var v = data;

                $("#CurrentCityId").html("");
                $.each(data, function(i, data) {
                    if (i == 0) {
                        $('<option>',
                            {
                                value: 0,
                                text: "--All--"
                            }).html("--All--").appendTo("#CurrentCityId");
                    }
                    else {
                        $('<option>',
                            {
                                value: data.cityId,
                                text: data.cityName
                            }).html(data.cityName).appendTo("#CurrentCityId");
                    }
                });

            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
    };

</script>






